name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
  push:
    branches: ['main', 'dev']
permissions:
  contents: read

jobs:
  autofix:
    strategy:
      matrix:
        version:
          - stable

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up system
        run: sudo apt update && sudo apt upgrade -y && sudo apt install -y build-essential gcc-multilib clang lld

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.version }}
          targets: x86_64-unknown-linux-gnu
          components: clippy, rustfmt

      - name: Cache cargo registry
        uses: actions/cache@v5
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-${{ matrix.version }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.version }}-cargo-registry-

      - name: Cache cargo build
        uses: actions/cache@v5
        with:
          path: target
          key: ${{ runner.os }}-${{ matrix.version }}-x86_64-unknown-linux-gnu-cargo-build-tests-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.version }}-x86_64-unknown-linux-gnu-cargo-build-tests-

      - name: lint
        run: |
          cargo fmt -v --all
          cargo clippy --locked --all-targets --all-features --fix -- -D warnings

      - uses: autofix-ci/action@v1